@use "sass:math";

@import 'mixins';
@import 'reset';
@import 'fonts';
@import 'vars';
@import 'libs';
@import 'hamburger';

%clearfix {
	&::after{
		content: '';
		display: table;
		clear: both;
	}
}

body {
	@include font(18px, 22px);
	min-width: 562px;
	max-width: 100%;
	font-family: 'Roboto', sans-serif;
	color: #000;
	background: #fff;
}

#wrapper {
	max-width: 1920px;
	min-height: 100vh;
	margin: 0 auto;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

main {
	flex-grow: 1;
}