doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width")
		title Страница
		link(rel="stylesheet" href="./assets/css/style.min.css")

	body
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod



script(src="./js/libs.js")
script(src="./js/scripts.js")